

<section class="hero-section bgp1">
  <div class="container-xxl">
    <div class="row align-items-center"> <!-- 游댳 centrado vertical -->
      
      <div class="col-md-5 hero-section-text">
        <p class="txt-btn txt-btn-padding"><i class="ia-icon-color ia-icon-primary me-2"></i> Impulsado por inteligencia artificial</p>
        <h2 class="featurette-heading fw-bold lh-1" style="color: var(--arg-blueText)">
          Embudos de Ventas que Transforman Visitantes en Clientes
        </h2>
        <p class="normal-p" style="color: var(--arg-blue-500)">
          Dise침amos experiencias digitales centradas en el usuario que maximizan conversiones. 
          Combinamos dise침o UX/UI estrat칠gico, inteligencia artificial y automatizaci칩n avanzada 
          para crear soluciones que generan resultados medibles.
        </p>
        <div>
          <a href="#consultoria" class="btn btn-primary btn-hero me-2">Solicitar Consultor칤a</a>
          <a href="#services" class="btn btn-outline-secondary btn-hero-secondary">Ver Servicios</a>
        </div>
         <div class="content mt-3" style="display: flex; flex-direction: row; justify-content: space-between; margin-end: 5rem;">
      <div class="content mt-3 me-3">
      <div class={`sm-icon-color sm-icon-myblue me-3`}></div>
      <p class="small-p">Investigaci칩n</p>
      </div>
        <div class='content mt-3 me-3'>
      <div class={`sm-icon-color sm-icon-myblue me-3`}></div>
      <p class="small-p">Dise침o</p>
      </div>
        <div class='content mt-3'>
      <div class={`sm-icon-color sm-icon-myblue me-3`}></div>
      <p class="small-p">Programaci칩n</p>
      </div>
      </div>
     
      </div>

      <div class="col-md-7 text-center">
        <img
          class="img-fluid mt-3"
          src="./capturaUno.jpg"
          alt="Not found"
        />
      </div>

    </div>
  </div>
</section>
