.cards {
  max-width: 80vw;
  margin: 0;
  display: grid;
  /* grid-template-columns: 1fr 1fr 1fr; */
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  grid-gap: 1rem; 
  align-items: stretch; 
}
.cards-cardSm {
    /* grid-template-columns: 1fr 1fr 1fr 1fr; */
      grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
}
.custom-card{
  width: 100%;
  height: 100%;
  background-color:hsl(252, 20%, 90%);
  border: none;
  padding: 1rem;
  margin: 0.5rem;
}

.content {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: bottom; /* Alinea verticalmente los elementos al centro */
  margin: 0; /* Asegura que no haya margen adicional */
}
.normal-p {
  font-size: 0.9rem !important;
  color: var(--arg-blueText) !important;
  text-align: start;
}
.small-p {
  font-size:0.7rem !important; 
  color: var(--arg-blueText);
}

@media (max-width: 575.98px) {
  .cards{
    grid-template-columns: 1fr;
  }
  .cards-cardSm {
    grid-template-columns: 1fr;
  }
  .card {
      width: 90vw;
      height: fit-content;
  }
  .content {
    flex-direction: column;
    overflow-y: auto;
  }
}

/* Dispositivos medianos (tabletas, >=576px) */
@media (min-width: 576px) {

  .cards{
    grid-template-columns: 1fr 1fr;
  
  }
  .cards-cardSm {
    grid-template-columns: 1fr 1fr 1fr;
}
   .card {
      width: 70vw;
      height: fit-content;
  }
}

/* Dispositivos grandes (desktops, >=768px) */
@media (min-width: 768px) {
  .cards{
    grid-template-columns: 1fr 1fr 1fr;
  
  }
  .cards-cardSm {
    grid-template-columns: 1fr 1fr 1fr;
  }
   .card {
      width: 30vw;
      height: fit-content;
  }
}

/* Dispositivos extra grandes (pantallas grandes, >=1200px) */
@media (min-width: 1200px) {
  .cards{
    grid-template-columns: 1fr 1fr 1fr;
  }
  .cards-cardSm {
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
   .card {
      width: 20vw;
      height: fit-content;
  }

}