@import 'bootstrap/dist/css/bootstrap.min.css';
@import './reset.css';
@import './icons-svg.css';
@import './navbar.css';
@import './hero.css';
@import './services.css';
@import './card-cars.css';
@import './footer.css';

html {
  scroll-behavior: smooth;
}
/* Sobreescribo el boton del hero*/
.btn-hero {
  font-weight: 600;
}
.btn-hero-secondary {
  font-weight: 600;
  color: var(--arg-blueText);
  border: var(--arg-blueText) solid 1px;
}
.txt-btn {
  width:fit-content;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  padding: 0.5rem 2.8rem 0.5rem 2.8rem;
  border: var(--bs-primary) solid 1px;
  border-radius: 1rem;
  font-size: 0.50rem;
  color: var(--bs-primary);
  background-color: var(--arg-blue-100);
}
.txt-btn-padding {
  padding: 0.1rem 2rem 0.1rem 2rem;
}
.txt-btn-md {
  font-size: 0.8rem;
  padding: 0.3rem 2rem 0.3rem 2rem;
  margin: 0 auto;
}