.navbar {
  padding-top: 1rem !important;
  padding-bottom: 1rem !important;
  background-color: var(--bg-light-300) !important;
  font-size: 0.95rem !important;
  color: var(--arg-blue-500)!important;
}
.navbar .nav-link {
  color: var(--arg-blue-500)!important; /* color de los links */
  transition: color 0.2s ease;
}
.navbar .nav-link:hover,
.navbar .nav-link.active {
  color: var(--arg-blue-250) !important; 
}
.navbar .btn {
  font-size: 0.9rem;
}
