---
import Layout from '../layouts/Layout.astro';
import Navbar from '../Shared/components/Navbar.astro'
import Footer from '../Shared/components/Footer.astro'

---

<Layout>
	<Navbar/>
    <section class="hero-section bgp1">
        <h1 class="featurette-heading fw-bold lh-1" style="color: var(--arg-blueText)">
            Pagina en construccion, por favor vuelva mas tarde</h1>
        
       <a href='/' class="txt-btn txt-btn-md mt-3 mb-3" style="text-decoration: none;">Volver a Inicio</a>
    </section>
</Layout>
